<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>机器人仿真系统</title>
	<script src="picoc-js/dist/bundle.umd.js" type="text/javascript" ></script>
   
</head>
<body class="font-inter bg-light min-h-screen flex flex-col">
    
   


<script>
const cprog = `
#include <stdio.h>
int main() {
   // printf() displays the string inside quotation
   printf("Hello, World!\n");
   return 0;
}
`;

picocjs.runC(cprog, (output) => { console.log(output) });
</script>
</body>
</html>